* text=auto

# Scripts and tests
*.sh      text eol=lf
*.bash    text eol=lf
*.bats    text eol=lf
*.awk     text eol=lf
*.sed     text eol=lf

Makefile  text eol=lf

# Documentation
*.md      text

# Git files
.gitattributes  text export-ignore
.gitignore      text export-ignore
